


 .navbar {
    background-color:$white;
  }

  .primary-link{
    color:  $white!important;
    font-weight: 600 !important;
  }

  .nav-link {
    color: #0D2D65 !important; 
font-family: "Open Sans";
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 179%; /* 23.27px */
  }

  @media only screen and (max-width: $breakpoint-sm) {

    .navbar>.container {
      justify-content: center;
      text-align: center;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
    

  }

  