
// Brand Colors
$primary: #fdb913;
$heritage: #0a3370;
$ink-blue: #00244e;
$sky-blue:#009dea;
$hero-blue: #2066a2;
$white: #ffffff;

//Hover State
$primary-hover: #fee097;

//   Font Family
$inter: "Inter", sans-serif;

.ink-blue {
    color: $ink-blue !important;
}

.text-heritage {
    color: $heritage !important;
}
 
.text-primary {
    color: $primary !important;
}



.bg-lightgray {
    background: #F9F9F9;
}

.bg-heritage {
    background: $heritage !important;
}

.bg-sky-blue {
    background: $sky-blue !important;
}   
.bg-hero-blue {
    background: $hero-blue !important;
}   
.bg-primary {
    background: $primary !important;
}   